.alert-error {
  position: absolute !important;
  right: 0 !important;
  left: 0 !important;
  margin-left: 'auto' !important;
  margin-right: 'auto' !important;
  width: 60% !important;
  z-index:1000 ;
}