@import './themes/Colors';
@import '~antd/dist/antd.css';

.ant-btn:hover, .ant-btn:focus {
  color: $primary;
  border-color: $primary;
}

.ant-layout-footer {
  width: 100%;
  background: $white;
}

.site-layout {
  background: $back !important;
  height: calc(100vh - 72px - 92px) !important;
}

.ant-layout-footer {
  font-size: 11px;
}

.ant-spin.ant-spin-spinning {
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}