@import '~antd/dist/antd.css';

.ant-btn:hover, .ant-btn:focus {
  color: #00b2cc;
  border-color: #00b2cc;
}

.ant-layout-footer {
  width: 100%;
  background: #fff;
}

.site-layout {
  background: #f0f0f0 !important;
  height: calc(100vh - 72px - 92px) !important;
}

.ant-layout-footer {
  font-size: 11px;
}
// .ant-space .ant-space-vertical {

// }